.message-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: left;
}

.message-cards {
	width: 40%;
	min-width: 450px;
	margin: 20px;
	padding: 20px 30px;
	border-radius: 5px;
	box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.admin {
	padding: 50px;

	h3 {
		padding: 10px 0;
		margin: 50px 0 10px 20px;
		width: 50%;
		border-bottom: 3px solid $primal-green;
	}
}

.admin-btn {
	@include Button;
	border-radius: 5px;
	padding: 10px 30px;
	margin: 70px 20px;
	width: 360px;
}

//
// MEDIA QUERIES

@media only screen and (max-width: 730px) {
	.message-container {
		justify-content: center;
	}

	.message-cards {
		width: 50%;
		min-width: 300px;
	}

	.admin {
		padding: 20px;

		h3 {
			padding: 10px 0;
			margin: 50px 20px;
			width: 90%;
		}
	}

	.admin-btn {
		margin: 70px auto;
		width: 250px;
		font-size: 20px;
	}
}
