.btn {
	@include Button;
}

.errors {
	width: 80%;
	color: $light;
	letter-spacing: 1px;
	border: 0.5px solid $error;
	border-radius: 5px;
	padding: 5px;
	background: $error-background;
	margin: 0 auto;
	font-weight: 500;
}
