@mixin Button {
	display: block;
	font-family: gill-sans-nova, sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	font-size: 25px;
	color: $light;
	border: 2px solid $primal-blue;
	background: $primal-blue;
	width: 220px;
	margin: 50px auto;
	transition: 150ms;

	&:hover {
		color: $light;
		background: $primal-green;
		border: 2px solid $primal-green;
		text-decoration: none !important;
		transform: scale(1.02);
		box-shadow: 0px 5px 7px -5px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
	}

	&:active {
		box-shadow: none;
		transform: scale(1);
	}
}

@mixin background {
	background: linear-gradient(
		to bottom left,
		#a5fecb 0%,
		#20bdff 40%,
		#5433ff 100%
	);
}

@mixin cards {
	border-radius: 5px;
	background: $light;
	color: $dark;
	border: none;
	box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

@mixin fontStyle {
	text-align: center;
	color: $dark;
	text-transform: uppercase;
}

@mixin inputs {
	display: flex;
	justify-content: center;
	width: 80%;
	margin: 20px auto;
	padding: 25px 0 1px 5px;
	font-size: 18px;
	border: none;
	border-bottom: 1px solid $dark;
}

@mixin validation {
	display: flex;
	width: 80%;
	border-radius: 5px;
	margin: 0 auto;
	padding: 15px;
	font-weight: 500;
	font-size: 20px;
}
