// MODAL STYLES -----------------

.modal-content {
	margin-top: 200px;
}

.modal-title {
	text-transform: uppercase;
	margin-left: 95px;
	font-size: 30px;
}

.date-container {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	flex-wrap: wrap;
}

.input-date {
	border-bottom: 1px solid $gray;
	width: 100%;
	margin: 20px auto;
	text-align: center;
}
