.logo {
	color: $primal-blue;
	font-size: 50px;
	text-transform: uppercase;
	margin: 0 100px;
	font-family: "adam";
}

.logo:hover {
	color: $primal-blue;
	text-decoration: none;
}

.nav-links {
	color: $light;
	margin: 0 20px;
	font-family: "adam";
	font-size: 25px;
}

.nav-links:hover {
	color: $primal-blue;
	text-decoration: none;
}

.navbar-dark .navbar-toggler {
	border-color: transparent;
}

.navbar {
	margin-bottom: 100px;
}

//
// MEDIA QUERIES ---------------

@media only screen and (max-width: 991px) {
	.logo {
		font-size: 40px;
		margin: 0 auto;
		padding-left: 56px;
	}
}
