//
@font-face {
	font-family: "adam";
	src: url(../../font/adam-400.otf);
	font-style: normal;
	font-weight: 400;
}

h1 {
	@include fontStyle;
	font-size: 45px;
	padding-top: 50px;
}

h2 {
	@include fontStyle;
	font-size: 40px;
}

p {
	font-size: 20px;
}

::placeholder {
	color: #999999 !important;
	opacity: 1;
}
